<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find robot_description)/urdf/common/inertials.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/common/materials.xacro"/>

  <xacro:macro name="robot_x" params="prefix parent *origin">

    <link name="${prefix}base_link">
      <!-- Add geometry or inertia properties -->
      <xacro:default_inertial/>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.3" radius="0.3"/>
          <!--           <mesh filename="package://robot_description/meshes/robot_x/visual/base_link.dae" /> -->
        </geometry>
        <material name="black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.3" radius="0.3"/>
          <!--           <mesh filename="package://robot_description/meshes/robot_x/collision/base_link.stl" /> -->
        </geometry>
      </collision>
    </link>

    <link name="${prefix}left_wheel_link">
      <!-- Default inertial for Gazebo - copy and edit block from 'common.xacro'
      to get more realistic behavior -->
      <xacro:default_inertial/>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.3" radius="0.15"/>
          <!--           <mesh filename="package://robot_description/meshes/robot_x/visual/link1.dae" /> -->
        </geometry>
        <material name="blue"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.3" radius="0.15"/>
          <!--           <mesh filename="package://robot_description/meshes/robot_x/collision/link1.stl" /> -->
        </geometry>
        <material name="green"/>
      </collision>
    </link>

    <link name="${prefix}right_wheel_link">
      <!-- Default inertial for Gazebo - copy and edit block from 'common.xacro'
           to get more realistic behavior-->
      <xacro:default_inertial/>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.3" radius="0.15"/>
          <!--           <mesh filename="package://robot_description/meshes/robot_x/visual/link2.dae" /> -->
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.3" radius="0.15"/>
          <!--           <mesh filename="package://robot_description/meshes/robot_x/collision/link2.stl"  /> -->
        </geometry>
      </collision>
    </link>

    <!-- JOINTS -->
    <!-- base_joint fixes base_link to the environment -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}base_link"/>
    </joint>
    <!-- joint 1 -->
    <joint name="${prefix}left_wheel_joint" type="revolute">
      <origin xyz="0 0 0.3" rpy="${pi} 0 0"/>
      <axis xyz="0 0 1"/>
      <limit effort="0" lower="${radians(-180)}" upper="${radians(180)}" velocity="${radians(180)}"/>
      <parent link="${prefix}base_link"/>  <!-- Specify parent link -->
      <child link="${prefix}left_wheel_link"/>  <!-- Specify child link -->
    </joint>
    <!-- joint 2 -->
    <joint name="${prefix}right_wheel_joint" type="revolute">
      <origin xyz="0 0 -0.3" rpy="${pi/2} 0 0"/>
      <axis xyz="0 0 1"/>
      <limit effort="0" lower="${radians(-180)}" upper="${radians(180)}" velocity="${radians(180)}"/>
      <parent link="${prefix}base_link"/>  <!-- Specify parent link -->
      <child link="${prefix}right_wheel_link"/>  <!-- Specify child link -->
    </joint>


    
  </xacro:macro>
</robot>
