<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find robot_description)/urdf/common/inertials.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/common/materials.xacro"/>

  <xacro:macro name="robot_x" params="prefix">

    <!-- BASE LINK -->
    <link name="${prefix}base_link">
      <!-- <xacro:default_inertial/> -->
      <visual>
        <origin xyz="0.0065 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.05" radius="0.1675"/> <!-- robot radius 335mm -->
        </geometry>
        <material name="black"/>
      </visual>
      <collision>
        <origin xyz="0.0065 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.05" radius="0.1675"/>
        </geometry>
      </collision>
    </link>

    <!-- LEFT WHEEL LINK -->
    <link name="${prefix}left_wheel_link">
      <xacro:default_inertial/>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.015" radius="0.036"/> <!-- wheel thickness 15mm, radius 36mm -->
        </geometry>
        <material name="blue"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.015" radius="0.036"/>
        </geometry>
      </collision>
    </link>

    <!-- RIGHT WHEEL LINK -->
    <link name="${prefix}right_wheel_link">
      <xacro:default_inertial/>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.015" radius="0.036"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.015" radius="0.036"/>
        </geometry>
      </collision>
    </link>



    <link name="${prefix}imu_link"/>

    <joint name="${prefix}imu_joint" type="fixed">
        <parent link="${prefix}base_link"/>
        <child link="${prefix}imu_link"/>
        <origin xyz="0.04 0 0.03"
                rpy="0 0 0"/>
    </joint>


    <!-- Left wheel joint -->
    <joint name="${prefix}left_wheel_joint" type="continuous">
      <origin xyz="0 0.1175 0" rpy="0 0 0"/> <!-- x behind center, y left -->
      <axis xyz="0 1 0"/> <!-- rotation around Y-axis -->
      <parent link="${prefix}base_link"/>
      <child link="${prefix}left_wheel_link"/>
      <limit effort="10" velocity="300"/>
    </joint>

    <!-- Right wheel joint -->
    <joint name="${prefix}right_wheel_joint" type="continuous">
      <origin xyz="-0 -0.1175 0" rpy="0 0 0"/> <!-- x behind center, y right -->
      <axis xyz="0 1 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}right_wheel_link"/>
      <limit effort="10" velocity="300"/>
    </joint>

  </xacro:macro>
</robot>